In [1]:
pip install mysql

Requirement already satisfied: mysql in d:\python\lib\site-packages (0.0.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: mysqlclient in d:\python\lib\site-packages (from mysql) (2.1.1)

In [2]:
pip install pymysql

Requirement already satisfied: pymysql in d:\python\lib\site-packages (1.0.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Requirement already satisfied: pandas in d:\python\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\python\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\python\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in d:\python\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in d:\python\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in d:\python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pymysql
import pandas as pd
import sqlalchemy
from sqlalchemy import text
import socket

In [5]:
user = 'root'
password = 'root123'
host = 'localhost'
port = 3306
database = 'Project_Phonepe'
connection = sqlalchemy.create_engine("mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        ))

In [19]:
#Table 1 - data_aggregated_transaction_table


from sqlalchemy import create_engine, text

# create an engine object
engine = create_engine("mysql+pymysql://root:root123@127.0.0.1:3306/Project_Phonepe")
        
#('mysql+pymysql://user:password@host:port/database')

# create a connection object
conn = engine.connect()

# execute the SQL query
sql = text('CREATE TABLE data_aggregated_transaction_table (MyIndex INT NOT NULL AUTO_INCREMENT, Payment_Mode VARCHAR(50), Total_Transactions_count BIGINT, Total_Amount BIGINT, Quarter INT, Year INT, State varchar(50), PRIMARY KEY (MyIndex))')

conn.execute(sql)

# close the connection
conn.close()

In [20]:

df = pd.read_csv('D:\Python Project\Data_Aggregated_Transaction_Table.csv')
df.to_sql('data_aggregated_transaction_table',con=connection, if_exists= "replace",index=False, chunksize=100)

3694

In [ ]:
#Table 2 - data_aggregated_user_summary_table

from sqlalchemy import create_engine, text

# create an engine object
engine = create_engine("mysql+pymysql://root:root123@127.0.0.1:3306/Project_Phonepe")
        
#('mysql+pymysql://user:password@host:port/database')

# create a connection object
conn = engine.connect()

# execute the SQL query
sql = text('CREATE TABLE data_aggregated_user_summary_table (myindex INT NOT NULL AUTO_INCREMENT, State varchar(50), Year INT, Quarter INT, Registered_Users  INT, AppOpenings INT, PRIMARY KEY (MyIndex))')

conn.execute(sql)

# close the connection
conn.close()

In [ ]:
df = pd.read_csv('D:\Python Project\Data_Aggregated_User_Summary_Table.csv')
df.to_sql('data_aggregated_user_summary_table',con=connection, if_exists= "replace",index=False, chunksize=100)

In [6]:
#Table 3 - data_aggregated_user_table

from sqlalchemy import create_engine, text

# create an engine object
engine = create_engine("mysql+pymysql://root:root123@127.0.0.1:3306/Project_Phonepe")
        
#('mysql+pymysql://user:password@host:port/database')

# create a connection object
conn = engine.connect()

# execute the SQL query
#sql = text('CREATE TABLE data_aggregated_user_table (myindex INT NOT NULL AUTO_INCREMENT, State varchar(50), Year INT, Quarter INT, Registered_Users  INT, AppOpenings INT, PRIMARY KEY (MyIndex))')

sql = text('CREATE TABLE data_aggregated_user_table (Myindex INT NOT NULL AUTO_INCREMENT, Brand_Name varchar(50), Registered_Users_Count INT, Percentage_Share_of_Brand double, Quarter INT, Year INT, State varchar(50), PRIMARY KEY (MyIndex)) ')

conn.execute(sql)

# close the connection
conn.close()

In [7]:
df = pd.read_csv('D:\Python Project\Data_Aggregated_User_Table.csv')
df.to_sql('data_aggregated_user_table',con=connection, if_exists= "replace",index=False, chunksize=100)

6919

In [8]:
#Table 4 - data_map_districts_longitude_latitude

from sqlalchemy import create_engine, text

# create an engine object
engine = create_engine("mysql+pymysql://root:root123@127.0.0.1:3306/Project_Phonepe")
        
#('mysql+pymysql://user:password@host:port/database')

# create a connection object
conn = engine.connect()

# execute the SQL query
#sql = text('CREATE TABLE data_map_districts_longitude_latitude (myindex INT NOT NULL AUTO_INCREMENT, State varchar(50), Year INT, Quarter INT, Registered_Users  INT, AppOpenings INT, PRIMARY KEY (MyIndex))')
sql = text('CREATE TABLE data_map_districts_longitude_latitude (Myindex INT NOT NULL AUTO_INCREMENT, State  varchar(50), District varchar(50), Latitude double, Longitude double, PRIMARY KEY (MyIndex))')

conn.execute(sql)

# close the connection
conn.close()

In [9]:
df = pd.read_csv('D:\Python Project\Data_Map_Districts_Longitude_Latitude.csv')
df.to_sql('data_map_districts_longitude_latitude',con=connection, if_exists= "replace",index=False, chunksize=100)

732

In [11]:
#Table 5 - data_map_indiastates_tu

from sqlalchemy import create_engine, text

# create an engine object
engine = create_engine("mysql+pymysql://root:root123@127.0.0.1:3306/Project_Phonepe")
        
#('mysql+pymysql://user:password@host:port/database')

# create a connection object
conn = engine.connect()

# execute the SQL query
#sql = text('CREATE TABLE data_map_indiastates_tu (myindex INT NOT NULL AUTO_INCREMENT, State varchar(50), Year INT, Quarter INT, Registered_Users  INT, AppOpenings INT, PRIMARY KEY (MyIndex))')
sql = text('CREATE TABLE data_map_indiastates_tu (myindex INT NOT NULL AUTO_INCREMENT, state varchar(50), Registered_Users INT, PRIMARY KEY (MyIndex))')

conn.execute(sql)

# close the connection
conn.close()

In [12]:
df = pd.read_csv('D:\Python Project\Data_Map_IndiaStates_TU.csv')
df.to_sql('data_map_indiastates_tu',con=connection, if_exists= "replace",index=False, chunksize=100)

36

In [13]:
#Table 6 - data_map_transaction_table

from sqlalchemy import create_engine, text

# create an engine object
engine = create_engine("mysql+pymysql://root:root123@127.0.0.1:3306/Project_Phonepe")
        
#('mysql+pymysql://user:password@host:port/database')

# create a connection object
conn = engine.connect()

# execute the SQL query
#sql = text('CREATE TABLE data_map_transaction_table (myindex INT NOT NULL AUTO_INCREMENT, State varchar(50), Year INT, Quarter INT, Registered_Users  INT, AppOpenings INT, PRIMARY KEY (MyIndex))')

sql = text('CREATE TABLE data_map_transaction_table (MyIndex INT NOT NULL AUTO_INCREMENT, Place_Name varchar(50), Total_Transactions_count INT, Total_Amount INT, Quarter INT, Year INT, State varchar(50),PRIMARY KEY (MyIndex))')


conn.execute(sql)

# close the connection
conn.close()

In [14]:
df = pd.read_csv('D:\Python Project\Data_Map_Transaction_Table.csv')
df.to_sql('data_map_transaction_table',con=connection, if_exists= "replace",index=False, chunksize=100)

15360

In [15]:
#Table 7 - data_map_user_table

from sqlalchemy import create_engine, text

# create an engine object
engine = create_engine("mysql+pymysql://root:root123@127.0.0.1:3306/Project_Phonepe")
        
#('mysql+pymysql://user:password@host:port/database')

# create a connection object
conn = engine.connect()

# execute the SQL query
#sql = text('CREATE TABLE data_map_user_table (myindex INT NOT NULL AUTO_INCREMENT, State varchar(50), Year INT, Quarter INT, Registered_Users  INT, AppOpenings INT, PRIMARY KEY (MyIndex))')
sql = text('CREATE TABLE data_map_user_table (Myindex INT NOT NULL AUTO_INCREMENT, Place_Name  varchar(50), Registered_Users_Count INT, App_Openings INT, Quarter INT, Year INT, State varchar(50),PRIMARY KEY (MyIndex))')


conn.execute(sql)

# close the connection
conn.close()

In [16]:
df = pd.read_csv('D:\Python Project\Data_Map_User_Table.csv')
df.to_sql('data_map_user_table',con=connection, if_exists= "replace",index=False, chunksize=100)

6868

In [17]:
#Table 8 - longitude_latitude_state_table

from sqlalchemy import create_engine, text

# create an engine object
engine = create_engine("mysql+pymysql://root:root123@127.0.0.1:3306/Project_Phonepe")
        
#('mysql+pymysql://user:password@host:port/database')

# create a connection object
conn = engine.connect()

# execute the SQL query
#sql = text('CREATE TABLE longitude_latitude_state_table (myindex INT NOT NULL AUTO_INCREMENT, State varchar(50), Year INT, Quarter INT, Registered_Users  INT, AppOpenings INT, PRIMARY KEY (MyIndex))')
sql = text('CREATE TABLE longitude_latitude_state_table (Myindex INT NOT NULL AUTO_INCREMENT, code varchar(50), Latitude double, Longitude double, state varchar(50),PRIMARY KEY (MyIndex))')


conn.execute(sql)

# close the connection
conn.close()

In [18]:
df = pd.read_csv('D:\Python Project\Longitude_Latitude_State_Table.csv')
df.to_sql('longitude_latitude_state_table',con=connection, if_exists= "replace",index=False, chunksize=100)

36